<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Achievements</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://as1.ftcdn.net/v2/jpg/03/91/55/88/1000_F_391558896_pokwOaJQRxWFkPrEemUjrn42cqw7EfYu.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home'%}">Rahim Khan</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">About me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Resume</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container d-flex align-items-center mt-2">
        <div class="container-md container-sm" style="border: 2px solid rgb(255, 255, 255); padding: 10px; border-radius: 20px;">
            <fieldset>
                <legend>Achievements</legend>
                <table class="table table-striped mb-3" id="table">
                    <thead>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Action</th>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <label for="title" class="form-label">Title</label>
                <input type="text" id="title" class="form-control" aria-labelledby="passwordHelpBlock">
                <label for="desc" class="form-label">Description</label>
                <input type="text" id="desc" class="form-control" aria-labelledby="passwordHelpBlock">
                <button class="btn btn-primary mt-2" onclick="add()">Add</button><br />
                <label for="link" class="form-label">Remarks (if any)</label>
                <input type="text" id="remarks" class="form-control" aria-labelledby="passwordHelpBlock">

                <form action="{% url 'responsibility' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success mt-2">Prev</button>
                </form>
                <form action="{% url 'course' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger mt-2">skip</button>
                </form>
                <form action="{% url 'course'%}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary mt-2" onclick="save()">Save & Next</button>
                </form>

            </fieldset>
        </div>
    </div>
    {% load static%}
    <script src="https://rahimcdn.blob.core.windows.net/mycdn/achievements.js">
        
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>

</html>